@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

header {
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  min-height: 8vh;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #6070ff;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  margin-right: auto;
  margin-left: 2.4rem;
  padding: 1rem;
}

.menu {
  cursor: pointer;
  justify-content: flex-start;
  padding-right: 4rem;
}

.portfolio {
  display: flex;
  min-height: 100vh;
  margin: 2.5rem;
  padding-top: 3.5rem;
  color: #172b4d;
  background-image: url(../images/header-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.portfolio__title {
  font-size: 40px;
  font-weight: bold;
  padding: 1rem;
  margin-top: 8rem;
}

.portfolio__description {
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem;
  color: #344563;
}

.portfolio__icons {
  display: flex;
  width: 60vw;
  justify-content: flex-start;
  list-style: none;
  margin-top: 1rem;
  padding: 1rem;
}

.contact__title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 1rem;
  color: #6070ff;
}

.portfolio__icons li {
  display: flex;
  padding-right: 4rem;
}

.btn {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  padding: 1.2rem;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 8px;
  margin-top: 15px;
  transition: 0.6s;
}

.btn--green {
  background-color: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  margin-left: 20px;
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn:active {
  background-color: #396df2;
  color: #fff;
}

/* Work Section */
.work {
  margin-inline: 2.4rem;
  padding-bottom: 10rem;
}

.card__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}

.card {
  width: 33rem;
  height: 50rem;
  border: 1px solid #d0d9d4;
  border-radius: 0.8rem;
}

.card__imgbox {
  height: 220px;
  width: 295px;
  margin: auto;
}

.card__img {
  width: 100%;
  height: 100%;
  padding-block: 5%;
}

.card__details {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.card__text {
  font-size: 2.4rem;
  font-weight: 800;
  padding-left: 20px;
  padding-bottom: 0;
  color: #172b4d;
  text-transform: capitalize;
  align-items: flex-start;
}

.card__list,
.about__list {
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
}

.card__canopy-list li::before {
  list-style: circle;
  content: "\2022";
  color: gray;
  font-weight: bold;
  display: inline-block;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-left: 1rem;
  left: -18px;
  top: 50%;
}

.card__canopy {
  justify-content: flex-start;
  padding-left: 20px;
}

.card__canopy-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card__canopy-title {
  margin-right: 10px;
  font-size: 13px;
  color: #172b4d;
}

.card__canopy-list {
  display: flex;
  margin: 10px;
  padding: 0;
}

.card__canopy-list li {
  margin-right: 10px;
  font-size: 13px;
  color: gray;
  font-weight: 600;
}

.card__canopy-text {
  font-size: 15px;
  color: #344563;
  font-weight: 400;
  line-height: 24px;
  width: 295px;
  height: 76px;
}

.card__list > li {
  font-size: 1.2rem;
  font-weight: 600;
  color: #396df2;
  background: #ebebff;
  border-radius: 4px;
  padding: 0.8rem 1.2rem;
  float: left;
  margin-right: 10px;
}

/* About section */
.about {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 8rem;
  margin-bottom: 0;
  color: #172b4d;
  padding: 1.1rem;
  display: inline-block;
}

.about_description {
  font-size: 2rem;
  font-weight: 400;
  color: #344563;
  margin: 1rem;
  margin-top: 0;
}

.about__btn {
  padding: 1.1rem;
  margin: 1rem 0 0;
}

.about__card__container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 20px;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}

.about_contact__title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 1rem;
  color: #6070ff;
}

.about_portfolio__icons {
  display: flex;
  width: 60vw;
  justify-content: flex-start;
  list-style: none;
  margin-top: 1rem;
  padding: 1rem;
}

.about_portfolio__icons li {
  display: flex;
  padding-right: 4rem;
}

/* Adding Drop down Section */
.drop__down {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 15px;
  padding: 1rem;
}

.language_list_technologies {
  display: flex;
  border-radius: 2rem;
  padding: 1rem;
  gap: 2rem;
  font-size: 15px;
  color: #253858;
  align-items: center;
  background-color: #f7f7f9;
}

.language__list,
.skill__list,
.framework__list {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin: 1rem 0;
  padding-right: 1rem;
}

.skill__list {
  border-top: 1px solid #dfe1e6;
  border-bottom: 1px solid #dfe1e6;
  padding-top: 5vw;
  padding-bottom: 5vw;
  margin: 0;
}

